*~
*.o
*.a
*.so.*
*.orig
*.rej
Makefile

config.cache
conf/prompt
conf/site-slib.def
conf/site.def
checkpkg/appcheck.out
checkpkg/lcheck
checkpkg/libcheck.out
build/

lib/wfdb.h
lib/wfdblib.h

*.pdf
*.dvi
*.log
*.aux
*.toc
*.idx
*.ilg
*.ind
doc/wag/*
doc/wag-src/eval.tex
doc/wag-src/install.tex
doc/wag-src/wag1.tex
doc/wag-src/wag3.tex
doc/wag-src/wag4.tex
doc/wag-src/*.ps
doc/wpg/*
doc/wpg-src/wpg.tex
doc/wpg-src/wpg.ps
doc/wpg-src/wpg.cp
doc/wpg-src/wpg.cps
doc/wpg-src/wpg.fn
doc/wpg-src/wpg.fns
doc/wpg-src/wpg.ky
doc/wpg-src/wpg.pg
doc/wpg-src/wpg.tp
doc/wpg-src/wpg.vr
doc/wug/*
doc/wug-src/*.ps
doc/wug-src/wug.tex
doc/wug-src/wug.out
doc/wug-src/wug.html
doc/wug-src/internals.pl
doc/wug-src/labels.pl

app/ann2rr
app/bxb
app/calsig
app/ecgeval
app/epicmp
app/fir
app/gqfuse
app/gqpost
app/gqrs
app/hrstats
app/ihr
app/mfilt
app/mrgann
app/mxm
app/nguess
app/nst
app/plotstm
app/pscgen
app/pschart
app/psfd
app/rdann
app/rdsamp
app/rr2ann
app/rxr
app/sampfreq
app/sigamp
app/sigavg
app/signame
app/signum
app/skewedit
app/snip
app/sortann
app/sqrs
app/sqrs125
app/stepdet
app/sumann
app/sumstats
app/tach
app/time2sec
app/wabp
app/wfdb-config
app/wfdbcat
app/wfdbcollate
app/wfdbdesc
app/wfdbmap
app/wfdbsignals
app/wfdbtime
app/wfdbwhich
app/wqrs
app/wrann
app/wrsamp
app/xform

convert/a2m
convert/ad2m
convert/ahaecg2mit
convert/edf2mit
convert/m2a
convert/makeid
convert/md2a
convert/mit2edf
convert/mit2wav
convert/parsescp
convert/rdedfann
convert/readid
convert/revise
convert/wav2mit
convert/wfdb2mat

psd/coherence
psd/fft
psd/log10
psd/lomb
psd/memse

xml/annxml
xml/heaxml
xml/xmlann
xml/xmlhea

wave/news.hlp
wave/wave.hlp
wave/soelim
wave/wave

waverc/wave-remote
waverc/wavescript
